include ../../../node_modules/bemto.pug/bemto

+b(data-rooms='0.5').apartment-card._reserved.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/studio_n44.png').img
    +e.H4.title Студия №44
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 28 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 12/14]#[br]этаж
    +e.P.price 1 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='1').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n666.png').img
    +e.H4.title Однокомнатная №666
    +e.info
        +e.SPAN.text-finish базовая#[br]отделка
        +e.SPAN.text-square 66 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 6/6]#[br]этаж
    +e.P.price 1 666 666 руб.
    +e.BUTTON.btn._free Свободно

+b(data-rooms='2').apartment-card._sold.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/two_room_n567.png').img
    +e.H4.title Двухкомнатная №567
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square #[+e.SPAN.text-first-line 65.6 м#[sup 2]]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 7/14]#[br]этаж
    +e.P.price 5 900 000 руб.
    +e.BUTTON.btn._sold Продано

+b(data-rooms='3').apartment-card._reserved.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/three_room_n45.png').img
    +e.H4.title Трехкомнатная#[br]№45
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 56 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 1/14]#[br]этаж
    +e.P.price 12 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='0.5').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -17%
        +e.SPAN.badge шок цена!
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/studio_n25.png').img
    +e.H4.title Студия №25
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 18 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 12/14]#[br]этаж
    +e.P.price 1 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='4').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -6%
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/four_room_n259.png').img
    +e.H4.title Четырехкомнатная №259
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 98 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 14/14]#[br]этаж
    +e.P.price 23 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='1').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n56.png').img
    +e.H4.title Однокомнатная#[br]№56
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 36 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 3/6]#[br]этаж
    +e.P.price 5 666 666 руб.
    +e.BUTTON.btn._free Свободно

+b(data-rooms='3').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/three_room_n46.png').img
    +e.H4.title Трехкомнатная#[br]№46
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 86 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 1/6]#[br]этаж
    +e.P.price 5 696 664 руб.
    +e.BUTTON.btn._free Свободно

+b(data-rooms='1').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -6%
        +e.SPAN.badge шок цена
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n2.png').img
    +e.H4.title Однокомнатная#[br]№2
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 18 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 3/14]#[br]этаж
    +e.P.price 1 200 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='0.5').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -6%
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/studio_n12.png').img
    +e.H4.title Студия №12
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 38 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 6/14]#[br]этаж
    +e.P.price 1 500 500 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='1').apartment-card._reserved.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n8.png').img
    +e.H4.title Однокомнатная#[br]№8
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 48 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 3/14]#[br]этаж
    +e.P.price 6 200 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='2').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -6%
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/two_room_n23.png').img
    +e.H4.title Двухкомнатная#[br]№23
    +e.info
        +e.SPAN.text-finish базовая#[br]отделка
        +e.SPAN.text-square 48 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 3/14]#[br]этаж
    +e.P.price 5 255 006 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='0.5').apartment-card._reserved.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/studio_n44.png').img
    +e.H4.title Студия №44
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 28 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 12/14]#[br]этаж
    +e.P.price 1 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='1').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n666.png').img
    +e.H4.title Однокомнатная №666
    +e.info
        +e.SPAN.text-finish базовая#[br]отделка
        +e.SPAN.text-square 66 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 6/6]#[br]этаж
    +e.P.price 1 666 666 руб.
    +e.BUTTON.btn._free Свободно

+b(data-rooms='2').apartment-card._sold.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/two_room_n567.png').img
    +e.H4.title Двухкомнатная №567
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square #[+e.SPAN.text-first-line 65.6 м#[sup 2]]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 7/14]#[br]этаж
    +e.P.price 5 900 000 руб.
    +e.BUTTON.btn._sold Продано

+b(data-rooms='3').apartment-card._reserved.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/three_room_n45.png').img
    +e.H4.title Трехкомнатная#[br]№45
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 56 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 1/14]#[br]этаж
    +e.P.price 12 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='0.5').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -17%
        +e.SPAN.badge шок цена!
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/studio_n25.png').img
    +e.H4.title Студия №25
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 18 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 12/14]#[br]этаж
    +e.P.price 1 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='4').apartment-card._reserved.col
    +e.header
        +e.SPAN.badge -6%
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/four_room_n259.png').img
    +e.H4.title Четырехкомнатная №259
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 98 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 14/14]#[br]этаж
    +e.P.price 23 900 000 руб.
    +e.BUTTON.btn._reserved Забронировано

+b(data-rooms='1').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/one_room_n56.png').img
    +e.H4.title Однокомнатная#[br]№56
    +e.info
        +e.SPAN.text-finish без#[br]отделки
        +e.SPAN.text-square 36 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 3/6]#[br]этаж
    +e.P.price 5 666 666 руб.
    +e.BUTTON.btn._free Свободно

+b(data-rooms='3').apartment-card._free.col
    +e.header
        +e.SPAN.star
    +e.img-wrapper
        +e.IMG(alt='plan' src='img/apartments/three_room_n46.png').img
    +e.H4.title Трехкомнатная#[br]№46
    +e.info
        +e.SPAN.text-finish черновая#[br]отделка
        +e.SPAN.text-square 86 м#[sup 2]#[br]площадь
        +e.SPAN.text-floor #[+e.SPAN.text-first-line 1/6]#[br]этаж
    +e.P.price 5 696 664 руб.
    +e.BUTTON.btn._free Свободно
