header.header
    +b.logo
        +e.A(href='#').link
            +e.IMG(src='img/logo.png' alt='Logo').img
    include menu
    +b.contacts
        +e.A(href='tel:+788888898').phone 8 888 88 88 98
        +e.SPAN.text Звони скорее!
    +b.menu-burger
        +e.SPAN.line
        +e.SPAN.line
        +e.SPAN.line