main.main
    +b.results
        +e.P.find-text Найдено 666 квартир
        +e.container
            +e.SPAN.sorting-text Сортировать по:&nbsp;&nbsp;
            +e.SPAN.switcher Цене
            +e.SPAN.switcher Комнатам
            +e.cards.row
                include _apartment_cards
            +e.SPAN.error
            +e.BUTTON.btn-show Показать ещё 20
