extends ../layout/main

block variables
	- var title = 'Главная страница'
block content
	include ../components/header
	.container
		include ../components/main_content
		include ../components/footer
	include ../components/_scroll-up-btn