$apartments-info-text: #313639;
$bg-color: #faf9ef;
$discount-badge-color: #f44;
$header-text-color: #fefefe;
$link-active-color: #faebd7;
$main-blue-color: #046380;
$main-blue-color-hover: #1983a2;
$main-blue-color-active: #32b9e0;
$main-blue-color-opacity-08: rgba(4, 99, 128, 0.8);
$main-blue-color-opacity-004: rgba(4, 99, 128, 0.04);
$main-green-color: #002f2f;
$main-green-color-hover: #186767;
$main-green-color-active: #349898;
$main-green-color-opacity-07: rgba(0, 47, 47, 0.7);
$main-green-color-opacity-07-hover: rgba(102, 175, 175, 0.7);
$red: #ff0000;
$reserved-color: #a7a37e;
$reserved-color-hover: #bfbb95;
$reserved-color-active: #b7ae54;
$sold-color: #a1a1a1;
$dots-color: #507392;
$white-font-color: rgba(255, 255, 255, 0.9);
$white-font-color-hover: rgba(210, 207, 207, 0.9);