.apartment-card {

    position: relative;
    border-bottom: none;
    border-radius: 3px;

    &.col {
        @include size(4);
        @include size-lg(6);
        @include size-sm(10);
        @include size-xs(12);
        @include sm(justify-content, center);
        margin-bottom: 54px;
    }

    &_free {
        border: 1px solid $main-green-color;

        &:hover {
            border-color: $main-green-color-hover;
        }
    }

    &_reserved {
        border: 1px solid $reserved-color;

        &:hover {
            border-color: $reserved-color-hover;
        }
    }

    &_sold {
        border: 1px solid $sold-color;
    }

    &__header {
        display: flex;
        box-sizing: border-box;
        max-height: 36px;
        margin-bottom: 14px;
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 18px;
    }

    &__badge {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        padding: 3px;
        border-radius: 3px;
        background-color: $discount-badge-color;
        color: $white-font-color;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__star {
        @include sprite($empty-star);
        display: flex;
        margin-left: auto;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        &_favorite {
            @include sprite($filled-star);
        }
    }

    &__img-wrapper {
        height: 209px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        @include to(300px) {
            width: 100%;
        }
    }

    &__title {
        //position: absolute;
        /* top: 287px;
        left: 18%; */
        height: 60px;
        margin: 0;
        margin-bottom: 25px;
        padding-left: calc(100% - 274px); //16%;
        padding-right: 8%;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: $main-green-color;
        //@include lg(left, 26%);
        @include lg(padding-left, calc(100% - 313px));
        @include md(padding-left, calc(100% - 260px));
        @include md(padding-right, 3%);

        @include to(840px) {
            padding-left: calc(100% - 230px);
        }

        @include sm-block() {
            padding-left: calc(100% - 292px);
        }

        @include xs-block() {
            padding-left: calc(100% - 315px);
            padding-right: 5%;
        }

        @include to(400px) {
            padding-right: 5%;
            padding-left: 11%;
            font-size: 18px;
        }
    }

    &__info {
        //position: absolute;
        padding-left: 16%;
        padding-right: 9%;
        margin-bottom: 40px;
        top: 362px;
        left: 18%;
        @include lg(padding-left, calc(100% - 313px));
        @include md(padding-left, calc(100% - 260px));
        @include md(padding-right, 3%);

        @include to(840px) {
            padding-left: calc(100% - 230px);
        }

        @include sm-block() {
            padding-left: calc(100% - 292px);
        }

        @include xs-block() {
            padding-left: calc(100% - 315px);
            padding-right: 5%;
        }

        @include to(400px) {
            padding-right: 5%;
            padding-left: 11%;
            //font-size: 18px;
        }

        /* @include lg(left, 26%);

        @include to(1355px) {
            padding-left: 13%;
            padding-right: 8%;
        }

        @include lg-block() {
            padding-left: 25%;
        }

        @include to(1100px) {
            //left: 21%;
            padding-left: 22%;
        }

        @include to(820px) {
            left: 16%;
        }

        @include sm(left, 26%);

        @include to(620px) {
            left: 15%;
        } */
    }

    &__text-finish {
        display: inline-block;
        margin-right: 21px;
        padding-left: 7px;
        border-left: 3px solid $main-blue-color;
        border-radius: 2px;
        font-size: 16px;
        color: $main-blue-color;

        @include to(400px) {
            margin-right: 12px;
        }
    }

    &__text-square {
        display: inline-block;
        margin-right: 13px;
        font-size: 13px;
        color: $apartments-info-text;

        &::first-line {
            font-size: 18px;
        }

        @include to(400px) {
            margin-right: 10px;
        }
    }

    &__text-floor {
        display: inline-block;
        font-size: 13px;
        color: $apartments-info-text;
    }

    // Костыль ( в хроме через ::first-line разбивает на несколько строк)
    &__text-first-line {
        font-size: 16px;
    }

    &__price {
        //position: absolute;

        margin-bottom: 24px;
        padding-left: 16%;
        padding-right: 9%;
        top: 437px;
        left: 18%;

        font-size: 24px;
        font-weight: 600;
        color: $apartments-info-text;
        @include lg(padding-left, calc(100% - 313px));
        @include md(padding-left, calc(100% - 260px));
        @include md(padding-right, 3%);

        @include to(840px) {
            padding-left: calc(100% - 230px);
        }

        @include sm-block() {
            padding-left: calc(100% - 292px);
        }

        @include xs-block() {
            padding-left: calc(100% - 315px);
            padding-right: 5%;
        }

        @include to(400px) {
            padding-right: 5%;
            padding-left: 11%;
            font-size: 18px;
        }

        /* @include lg(left, 26%);

        @include lg-block() {
            padding-left: 25%;
        }

        @include to(1355px) {
            padding-left: 13%;
            padding-right: 8%;
        }

        @include to(1100px) {
            //left: 21%;
            padding-left: 22%;
        }

        @include to(820px) {
            left: 16%;
        }

        @include sm(left, 26%);

        @include to(620px) {
            left: 15%;
        } */
    }

    &__btn {
        width: 100%;
        padding: 14px 0;
        font-size: 12px;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
        color: $white-font-color;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        &_free {
            background-color: $main-green-color;

            &:hover {
                background-color: $main-green-color-hover;
            }

            &:active {
                background-color: $main-green-color-active;
            }
        }

        &_reserved {
            background-color: $reserved-color;

            &:hover {
                background-color: $reserved-color-hover;
            }

            &:active {
                background-color: $reserved-color-active;
            }
        }

        &_sold {
            background-color: $sold-color;
            cursor: default;
        }
    }
}